{% extends 'core/base.html' %}

{% block content %}
<style>
  #boton3{
    display: flex;
    position: absolute;
    top: 1050px;
    left: 30%;
    text-align: center;
}
</style>
<form action="{% url 'agregar_produccion' %}" method="post">
  <div>
    <h1>Añade tu sistema de producción</h1>
  </div>
  {% csrf_token %}
  {% if error %}
    <div class="alert alert-danger">{{ error }}</div> <!-- Mostrar un mensaje de error específico dentro de la interfaz de usuario cuando ocurre algún error -->
  {% endif %}

  <div class="mb-3">
    <label for="producto" class="form-label">Código de Combustible</label>
    <select class="form-select" id="producto" name="producto" required>
      <option selected disabled>Seleccione un Código</option>
      {% for producto in productos %}
        <option value="{{ producto.id }}">{{ producto.codigo }}</option>
      {% endfor %}
    </select>
  </div>

  <div class="mb-3">
    <label for="txtProduccion" class="form-label">Litros Producidos</label>
    <input type="text" class="form-control" id="txtProduccion" name="txtProduccion">
  </div>

  <div class="mb-3">
    <label for="eleccionTurno" class="form-label">Turno</label>
    <select class="form-select" id="eleccionTurno" name="eleccionTurno" required>
      <option selected disabled>Seleccione el Turno</option>
      <option value="AM">Mañana</option>
      <option value="PM">Tarde</option>
      <option value="MM">Noche</option>
    </select>
  </div>

  <div class="mb-3">
    <label for="txtfecha" class="form-label">Fecha Producción</label>
    <input type="date" class="form-control" id="txtfecha" name="txtfecha">
  </div>

  <div class="mb-3">
    <label for="txtHora" class="form-label">Hora de Registro</label>
    <input type="time" class="form-control" id="txtHora" name="txtHora">
  </div>

  <div class="mb-3">
    <label for="planta" class="form-label">Planta</label>
    <select class="form-select" id="planta" name="planta" required>
      <option selected disabled>Seleccione la Planta</option>
      {% for planta in plantas %}
        <option value="{{ planta.id }}">{{ planta.nombre }}</option> <!-- Esto permite seleccionar las opciones creadas en el Django Admin -->
      {% endfor %}
    </select>
  </div>

  <div class="mb-3">
    <label for="producto" class="form-label">Producto</label>
    <select class="form-select" id="producto" name="producto" required>
      <option selected disabled>Seleccione el Producto</option>
      {% for producto in productos %}
        <option value="{{ producto.id }}">{{ producto.nombre }}</option> <!-- Esto permite seleccionar las opciones creadas en el Django Admin -->
      {% endfor %}
    </select>
  </div>

  <div>
    <input class="btn btn-primary" id="boton3" type="submit" value="Enviar">
  </div>
</form>
{% endblock %}